/* Setting the background color for the app */
.App {
  background-color: rgb(72, 76, 84);
  text-align: center;
}

/* Setting the color and display type of 'SmiteGuide' in the HeaderMenu */
.navbar-brand p {
  display: inline;
  color: rgb(255, 255, 255);
}

/* Setting the color of links in the HeaderMenu */
.nav-item a {
  color: rgb(255, 255, 255);
}
